build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.ninja_deps
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.ninja_log
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/build.ninja
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/cmake_install.cmake
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeCache.txt
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld.exe
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/qtcsettings.cmake
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/query/cache-v2
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/query/codemodel-v2
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/cache-v2-803b4a582ab0c92a60fe.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-929ad00236fa93e54a2b.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-41191cc09c723dc5d2a7.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-e0e1a885a36c0bdec7a9.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-06-19T20-47-22-0364.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-helloworld_autogen_timestamp_deps-Debug-5f589cf8451bf6a54024.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-helloworld_autogen-Debug-7d75304f50ac41130717.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-helloworld-Debug-8975131eab7db8455a05.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/.qt/QtDeploySupport.cmake
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/clean_additional.cmake
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/cmake.check_cache
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/CMakeOutput.log
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/rules.ninja
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/TargetDirectories.txt
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CMakeSystem.cmake
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/d/c1b777152bb33bd95f504b3c31a187b9777bfc1d0ac76a2c7138914a718519fb.d
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/helloworld.dir/main.cpp.obj
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/helloworld.dir/mainwindow.cpp.obj
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/helloworld.dir/helloworld_autogen/mocs_compilation.cpp.obj
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/helloworld_autogen.dir/AutogenInfo.json
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/helloworld_autogen.dir/AutogenUsed.txt
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/CMakeFiles/helloworld_autogen.dir/ParseCache.txt
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/Testing/Temporary/LastTest.log
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld_autogen/deps
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld_autogen/moc_predefs.h
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld_autogen/mocs_compilation.cpp
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld_autogen/timestamp
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld_autogen/EWIEGA46WW/moc_mainwindow.cpp
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld_autogen/EWIEGA46WW/moc_mainwindow.cpp.d
build-helloworld-Desktop_Qt_6_4_3_MinGW_64_bit-Debug/helloworld_autogen/include/ui_mainwindow.h
